{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block title %}
    {{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .sonata-ba-content{      
            min-height: xxx;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active">
                <span>Dashboard</span>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        {% for gasolina in combustibles %}
          <div class="col-lg-4 col-6">

            <div class="small-box bg-dark">
              <div class="inner">
                <div class="row bg-black">
                    <div class="col-md-8">
                        <img class="img img-responsive float-left" src="{{ vich_uploader_asset(gasolina,'combustible_file') }}"/>
                    </div>
                    <div class="col-md-4 bg-black">
                        <h3>${{ gasolina.precio }}</h3>
                    </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}


{% block footer %}
{% endblock %}