{% extends "base.html.twig" %}

{% block navbar %}

{% include ('navbar.html.twig') %}

{% endblock %}

{% block content %}
<div class="content">

      <section id="precios" class="bg-white px-4 md:pr-0 flex flex-col md:flex-row sm:justify-between md:h-full relative">
      	<div class="flex flex-col md:w-full">
	      	<div class="md:ml-20 bg-white pt-20 md:pt-32 md:pl-16">
				<p class="font-display text-2xl md:text-5xl font-bold uppercase leading-none">Lista de precios</p>
				<div class="visible md:hidden pb-4"><p class=" text-md text-blue-400">Los precios más competitivos con la mejor calidad del mercado</p></div>
			</div>
	      	<div class="md:ml-20 md:h-full bg-gray-200">
		        	<div class="w-full md:w-10/12 md:pt-10 md:h-full">
				      <div class="pl-4 pr-4 pt-0 md:pl-16">
				      	<p class="hidden md:flex pt-4 md:pt-5 text-md md:text-lg font-bold text-blue-400">Los precios más competitivos con la mejor calidad del mercado</p>	
				      	<div class="flex flex-col bg-white w-full p-4 h-full py-4 m-auto md:ml-4 my-10 md:pl-10">
				      		<div class="flex flex-col md:flex-row w-full pb-10">
				      			<div class="flex flex-col w-full md:w-3/5">
				      				<p class="text-md" style="color:#00d6d6">RECOMENDADO PARA CORONAS INDIVIDUALES Y PARA PUENTES DE ARCADA COMPLETA</p>
				      			</div>
				      			<div class="flex flex-col w-full md:w-2/5">
				      				<div class="md:rounded-full h-6 md:h-10 w-6 md:w-10 flex items-center justify-center bg-white border-2 md:border-3 border-black text-center">
								      	<span class="text-lg md:text-xl text-center px-4 "><b>$</span>
									</div>
				      			</div>
				      		</div>
				      		<div class="flex flex-col w-full pb-10">
				      			<p class="text-md md:text-xl text-white bg-blue-300 w-full md:w-3/5 pl-4 mb-4">Zirconia ultratranslúcida Multilayer</p>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Corona, carilla, estratificado <span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">1,600</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Incrustaciones <span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">1,450</p>
				      			</div>
				      		</div>
				      		<div class="flex flex-col w-full pb-10">
				      			<p class="text-md md:text-xl text-white bg-blue-300 w-full md:w-3/5 pl-4 mb-4">Discilicato de Litio</p>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Corona, carilla, incrustaciones y estratificado <span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">1,850</p>
				      			</div>
				      		</div>
				      		<div class="flex flex-col w-full pb-10">
				      			<p class="text-md md:text-xl text-white bg-blue-300 w-full md:w-3/5 pl-4 mb-4">Complementarios coronas y puentes</p>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Cofias de zirconia</p>
				      				<p class="text-bold text-md w-1/5">1,000</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Encerado de diagnóstico <span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">175</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Barra sobre prótesis</p>
				      				<p class="text-bold text-md w-1/5">1,800</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Barra de titanio</p>
				      				<p class="text-bold text-md w-1/5">1,390</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Temporales en PMMA <span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">260</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Mock-Up</p>
				      				<p class="text-bold text-md w-1/5">5,000</p>
				      			</div>
				      		</div>
				      		<div class="flex flex-col w-full pb-10">
				      			<p class="text-md md:text-xl text-white bg-blue-300 w-full md:w-3/5 pl-4 mb-4">Alineadores, retenedores y guardas</p>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Planeación y producción <span class="text-pink-600">(hasta 24 alineadores, kit incluido)</span></p>
				      				<p class="text-bold text-md w-1/5">18,990</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Retenedores<span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">500</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Guarda rígida<span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">750</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Placa de blanqueamiento<span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">250</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Protector bucal<span class="text-pink-600">(por unidad)</span></p>
				      				<p class="text-bold text-md w-1/5">850</p>
				      			</div>
				      		</div>
				      		<div class="flex flex-col w-full pb-10">
				      			<p class="text-md md:text-xl text-white bg-blue-300 w-full md:w-3/5 pl-4 mb-4">Restauraciones sobre implantes</p>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Corona (sin aditamentos protésicos)</p>
				      				<p class="text-bold text-md w-1/5">1,900</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Corona + Ti-base<span class="text-pink-600">(incluye el uso de  Scanbody)</span></p>
				      				<p class="text-bold text-md w-1/5">3,250</p>
				      			</div>
				      			<div class="flex flex-row">
				      				<p class="text-bold text-md w-4/5"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i>Escaneo intraoral</p>
				      				<p class="text-bold text-md w-1/5">700</p>
				      			</div>
				      		</div>
				      		<div class="flex w-full md:w-11/12 p-4 border-2 border-green-200">
				      			<p><i class="fa fa-info-circle flex mx-4 text-purple-400" aria-hidden="true"></i>Dr(a). para la realización de cualquier prótesis le sugerimos analizar previamente su modelo de trabajo para evitar contratiempos y retrasos.</p>
				      		</div>
				      	</div>
				      	<div>
				      		<div class="flex flex-col md:flex-row">
					      		<p class="w-1/2"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i><span class="text-purple-400">Tel.</span> <a href="tel:5579746358">55 - 7974 - 6358</a></p>
					      		<p class="pb-10 w-1/2"><i class="fa fa-square flex mx-4" aria-hidden="true" style="color:#00d6d6"></i><span class="text-purple-400">Correo</span> <a href="mailto:produccion@mureni.com">produccion@mureni.com</a></p>
				      		</div>
				      	</div>
				      </div>
		       	 </div>

		      </div>
	      </div>
	      <div class="md:w-2/12 md:absolute bottom-0 right-0 w-full h-full z-100">	          
		      <div class="md:rounded-full h-20 md:h-32 w-full md:w-32 flex items-center justify-center md:absolute fixed top-0 left-0 z-200 md:ml-4 md:my-24 bg-blue-200">
		      	<span class="text-xs text-center px-4 text-blue-400"><b>Tiempo de entrega:</b> 5 días hábiles</span>
			</div>
	      </div>
	    </div>
      </section>

</div>
{% endblock content %}