{% block temperature_widget %}
    {% spaceless %}
    <div class="input-group" style="background-color:red;">
            {{ block('form_widget_simple') }}
            <span class="input-group-addon">°C</span>
    </div>
    {% endspaceless %}
{% endblock %}
