{% block temperature_widget %}
    {% spaceless %}
        <div class="input-group">                    
            <input type="text" {{ block('widget_container_attributes') }} class="form-control">
            {% for child in form %}
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
            {% endfor %}
            <span class="input-group-addon">°C</span>    
        </div>
    {% endspaceless %}
{% endblock %}