{% extends "base_registry.html.twig" %}

{% block content %}
		<p class="text-center"><span class="label label-primary">la clave ingresada no es válida</span></p></br>
		Esta puede ser una pagina con una invitacion a algo o una pagina genérica de error
{% endblock content %}