{# templates/CRUD/list__action_salida.html.twig #}

<a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('salidas', object) }}"><i class="fa fa-truck" aria-hidden="true"></i> Salida</a>