<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    
    <title>Sistema de Ventas | ACO</title>
    <meta name="title" content="Sistema de Ventas | ACO">

    <link rel="icon" type="image/png" href="images/favicon.png">

    {% block stylesheets %}
      <link href="{{ asset('css/fonts.css') }}" rel="stylesheet" />
      <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
      <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
    {% endblock %}

  </head>
  <body class="bg-white antialiased font-body">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WXQ9SV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <header class="fixed w-full z-50">
      <div class="container flex justify-between items-center">
        <div class="flex items-center">
          <div class="bg-brand py-3 px-2 md:py-4 md:px-4 inline-block mr-3">
            <a href="#"><img src="{{ asset('images/aco_logo_80_blanco.png') }}"></a>
          </div>
        </div>
        <!--div class="block md:hidden">
          <button aria-label="Toggle Menu" onclick="toggleMenu()" class="text-brand outline-none border-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="arcs"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></button>
        </div-->
      </div>
    </header>
    
    <!--nav id="mobileMenu" class="hidden bg-white fixed bg-white z-50 flex flex-col justify-center w-full mt-12 px-8 py-10 text-center shadow-xl">
      <a class="py-4 font-semibold" href="/porque-mureni.html">¿Por qué Mureni?</a>
      <a class="py-4 font-semibold" href="/precios.html">Precios</a>
      <a class="py-4 font-semibold" href="/ubicaciones.html">Ubicaciones</a>
      <a class="button primary" href="/ubicaciones.html">Agenda tu cita</a>
    </nav-->
    <main>
      <main class="max-w-7xl mx-auto">
        {% block body %}
            <div class="container-fluid">
              {% block container %}
                  {% block navbar %}
                  {% endblock %}
              <!--h1>Wine List</h1>
              <div class="btn-group" role="group" aria-label="Basic example">
                  {% block buttons %}
                          <a href="/list" class="btn btn-primary btn-large">List</a>
                          <a href="/about" class="btn btn-primary btn-large">About</a>
                          <a href="/" class="btn btn-primary btn-large">Home</a>
                  {% endblock %}
              </div-->

              <div id="content">
                  {% block content %}
                  {% endblock %}
              </div>
              {% endblock %}
            </div>
        {% endblock %}
</main>
<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.4.1/dist/simpleParallax.min.js"></script>

<script>
  var images = document.querySelectorAll('.bubble');
  new simpleParallax(images, {
    overflow: true,
    maxTransition: 99,
    scale: 2
  });
</script>
    </main>
        {% block javascript %}   
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
          <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/menuspy@1.3.0/dist/menuspy.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/pickadate@5.0.0-alpha.3/builds/index.min.js"></script>
          <!--script src="https://cdn.jsdelivr.net/gh/jsanahuja/InstagramFeed/dist/InstagramFeed.min.js" crossorigin></script-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/InstagramFeed/3.0.2/InstagramFeed.js" crossorigin></script>
          <!--script src="instagramfeed.js"></script-->
        {% endblock %}
    </body>
</html>


  </body>
</html>
